/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
}

.basic-input-container,
.risk-reward-inputs-container,
.results-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 300px;
}

.basic-input-container {
  flex: 1;
}

.risk-reward-inputs-container,
.results-container {
  max-height: 600px;
  overflow-y: auto;
}

.results-container {
  flex: 1.8;
}

.App h2,
.basic-input-container h2,
.risk-reward-inputs-container h2,
.results-container h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-section {
  margin-bottom: 20px;
}

input[type="number"],
select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.results {
  margin-top: 20px;
}

.results ul {
  list-style-type: none;
  padding: 0;
}

.results li {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.risk-reward-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.risk-reward-row label {
  flex: 1;
  margin-right: 10px;
}

.risk-reward-row input {
  width: 100px;
}

/* Tab navigation */
.tab-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-navigation button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
}

.tab-navigation .active {
  background-color: #ccc;
}

.tab2-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 360px;
  min-height: 590px;
}

.tab2-content .results-container {
  margin-top: 20px;
}
